<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/css/login.css">
    <link rel="icon" type="image/svg+xml" href="/frontend/favicon.svg">
    <title>Login</title>
</head>
<body>
    <div class="screen">
        <div class="glass-wrap">
            <div class="login-box">
                <div class="title">
                    Login
                </div>
                <div class="login-top">
                    <div class="input-box">
                        <input type="text" placeholder="Username">
                        <div class="cred-help">Forgot Username?</div>
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Password">
                        <div class="cred-help">Forgot Password?</div>
                    </div>
                </div>
                <div>
                    <div class="login-middle">
                        <div class="check">
                            <label>Remember me</label>
                            <input type="checkbox">
                        </div>
                    </div>
                    <div class="login-bottom">
                        <div class="login-button">Login</div>
                    </div>
                </div>
            </div>
            <div class="alt-options">
                <div class="alt-options-title">————————— or continue with —————————</div>
                <div class="alt-options-buttons">
                    <div class="button">
                        <img src="/frontend/resources/Apple_Logo.png" alt="Apple">
                    </div>
                    <div class="button">
                        <img src="/frontend/resources/Google_Logo.png" alt="Google">
                    </div>
                    <div class="button">
                        <img src="/frontend/resources/X_logo.png" alt="X">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/frontend/js/global.js"></script>
</body>
</html>